# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# Data & output
*.npy
*.npz
*.png
*.gif
/data/
/output/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store
